html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: psu-font , Arial, sans-serif;
    color: #25B6C9;
}

#mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    z-index: 15;
    width: 100%;
    padding-top: 10px;
    background-image: url(../img/header-style.png), url(../img/psulogo.png);
    background-color: #25B6C9;
    background-repeat: no-repeat, no-repeat;
}

/* open, close Panel Button */

.panelButton{
    position: absolute;
    outline: none;
    background-color: #25B6C9;
    border: none;
    border-bottom: 5px solid transparent;
    padding: 0.5em;
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    color: #FFF;
    cursor: pointer;
    left: 5px;
    bottom: 1px;
}

.panelButton:hover{
    font-weight: bold;
}

.pressedButton {
    border-bottom-color: #FFF;
    font-weight: bold;
    transition: font-weight 1s ,border-bottom-color 1s;
}

/*******/

img {
    display: block;
    margin: auto;
}

#noPanelContent{
    height: auto;
    width: 100%;
    float: right;
    background: #fff repeat url(../img/body.jpg);
}

header > h1{
    font-size: 2em;
    font-weight: 100;
    text-shadow: 1px 3px 5px #25B6C9;
}
    header > h1 > abbr{
    font-weight: bold;
    text-shadow: none;
}

#mainContent{
    height:auto;
    width: 80%;
    margin: auto;
    padding-top: 8%;
    background-color: #FFF;
    box-shadow: 2px 0 8px 0 #ddd;
}

#mainContent article{
    margin: 0 5%;
    background-color: #FFF;
}

/* Lockers' Styling */

#visibleLockers{
    text-align: center;
}

#visibleLockers a{
    position: relative;
    display: inline-block;
    height: 110px;
    width: 110px;
    font-size: 1.8em;
    text-decoration: none;
    background-color: #5FDFEF;
    border: solid 3px #25B6C9;
    margin: 5px;
}

    #visibleLockers a:hover{
        transition-delay: 0.1s;
        border-color: #d0d0d0;
        background-color: #eee;
    }

    #visibleLockers a:active{
        transition-delay: 0;
        border-color: #dfdfdf;
    }

#visibleLockers a > span{
    position: absolute;
    color: #FFF;
    top: 30%;
    right: 0;
    left:  0;
}

    #visibleLockers a:hover > span{
        transition-delay: 0.1s;
        color: #25B6C9;
    }

#visibleLockers a .lockerHand{
    background-color: #25B6C9;
    position: absolute;
    left: 0;
    width: 10%;
    height: 25%;
    top: 33%;
    transition: height 0.5s, width 0.5;
}

    #visibleLockers a:hover .lockerHand{
        transition-delay: 0.1s;
        background-color: #d0d0d0;
    }

    #visibleLockers a:active .lockerHand{
        background-color: #dfdfdf;
        width: 8%;
        height: 20%;
        transition: height 0.4s, width 0.4s;
    }

#visibleLockers a .lockerStatus{
    position: absolute;
    top: -3px;
    left: -3px;
    width: 0;
    height: 0;
    border: solid 0.4em transparent;
    border-top-color: #01aa00;
    border-left-color: #01aa00;
}

#visibleLockers a .commented{
    position: absolute;
    top: -3px;
    right: -3px;
    width: 0;
    height: 0;
    border: solid 0.4em transparent;
    border-top-color: #f12929;
    border-right-color: #f12929;
}

/* Control Panel's styling */

.controlPanel{
    position: fixed;
    left: 0;
    border-right: solid #25B6C9 1px;
    box-shadow: 1px 0 8px 0 #25B6C9;
    background-color: #fff;
    height: 100%;
    z-index: 10;
    width: 0%;
    transition: width .8s;
    -webkit-transition: width .8s;
}

.openPanel{
    width: 20%;
    height: 100%;
    transition: width .5s;
    -webkit-transition: width .5s;
}

/* Navegation through lockers links */

#mainContentFooter{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

#mainContentFooter nav a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    color: inherit;
}